h3{
    text-align: center;
}
.inner_template{
    margin: 0%;
    padding: 2%;
}

.main{
    text-align: center;
}
#Profile_photo{

    position: relative;
    float: left;
    border-radius: 50%;
    
}
span{
    font-weight:bold;
}
.Skill-container{
    display: flex;
    gap: 1.5%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    justify-content: center;
    /* background-color: rgb(47, 235, 235); */
    
}
.skill-body{
    max-width: 50%;
    padding: 5%;
    background-color: #f2f2f2;
    border-radius: 2%;
    text-align: center;
}
.title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.skills{
    list-style: none;
    padding: 0;
    margin: 0;
}
.skills{
    list-style: none;
    padding: 0;
    margin: 0;
}
.skills li{
    margin-bottom: 15%;

}
@media (max-width: 700px) {
    .Skill-container {
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
}


h4#degree{
    display: inline-block;
}
h4#Percentage {
    display: inline;
    float: inline-end;
}
p#clg{
    display: inline-block;

}
p#year{
    display: inline;
    float: right;
}
.Exp #WorkJD{
    text-align: justify;
}
.projects #project-description{
    text-align: justify;
}
.Dashboard #Dashboard-description{
    text-align: justify;
}
.Accomplishment #accomp{
    text-align: justify;
}



